<maq-inspinia-nav></maq-inspinia-nav>
<div id="page-wrapper" class="gray-bg">
	<maq-inspinia-top-nav></maq-inspinia-top-nav>

	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-10">
			<h2>Edit Assettype</h2>
			<ol class="breadcrumb">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/costcenter">Packages</a>
				</li>
				<li class="active">
					<strong>Edit Costcenter</strong>
				</li>
			</ol>
		</div>
	</div>
	<div class="wrapper wrapper-content animated fadeIn">
		<maq-socket-disconnected></maq-socket-disconnected>
		<maq-danger-alert></maq-danger-alert>
		<maq-info-alert></maq-info-alert>


		<div class="row">
			<div class="col-md-6">
				<div class="ibox">
					<div class="ibox-content">
						<form novalidate="novalidate" name="editCostcenterForm" ng-submit="editCostcenter(costcenter,editCostcenterForm.$valid)" role="form">


							<div class="form-group" ng-class="{'has-error': editCostcenterForm.costcenterName.$invalid && submitted,'has-success': !editCostcenterForm.costcenterName.$invalid && submitted}">
								<label class="control-label" for="costcenterName">Assettype Name:</label>
								<input id="costcenterName" name="costcenterName" type="text" ng-model="costcenter.costcenterName" required class="form-control"/>
								<p ng-show="editCostcenterForm.costcenterName.$invalid && submitted" class="help-block">The Assettype Name is required</p>
							</div>

							<div class="form-group" ng-class="{'has-error': editCostcenterForm.costcenterDescription.$error.required && submitted,'has-success': !editCostcenterForm.costcenterDescription.$error.required && submitted}">
								<label class="control-label" for="costcenterDescription">Description:</label>
								<textarea type="text" id="costcenterDescription" name="costcenterDescription" ng-model="costcenter.costcenterDescription" class="form-control"></textarea>
								<p ng-show="editCostcenterForm.costcenterDescription.$error.required  && submitted" class="help-block">The Description is required.</p>
							</div>

							<div class="box-footer">
								<button type="submit" class="btn btn-small btn-primary">Submit</button>
								<a ng-click="cancel()" class="btn btn-small">Cancel</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
