<maq-inspinia-nav></maq-inspinia-nav>
<div id="page-wrapper" class="gray-bg">
	<maq-inspinia-top-nav></maq-inspinia-top-nav>

	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-10">
			<h2>Add Category</h2>
			<ol class="breadcrumb">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/packages">Categories</a>
				</li>
				<li class="active">
					<strong>Add Category</strong>
				</li>
			</ol>
		</div>
	</div>
	<div class="wrapper wrapper-content animated fadeIn">
		<maq-socket-disconnected></maq-socket-disconnected>
		<maq-danger-alert></maq-danger-alert>
		<maq-info-alert></maq-info-alert>


		<div class="row">
			<div class="col-md-6">
				<div class="ibox">
					<div class="ibox-content">
                        
						<form novalidate="novalidate" name="addCategoryForm" ng-submit="addCategory(category,addCategoryForm.$valid)" role="form">


							<div class="form-group" ng-class="{'has-error': Category.categoryName.$invalid && submitted,'has-success': !Category.categoryName.$invalid && submitted}">
								<label class="control-label" for="categoryName">Category Name:</label>
								<input id="categoryName" name="categoryName" type="text" ng-model="category.categoryName" required class="form-control"/>
								<p ng-show="addCategoryForm.categoryName.$invalid && submitted" class="help-block">The Category Name is required</p>
							</div>

							<div class="form-group" ng-class="{'has-error': addCategoryForm.categoryDescription.$error.required && submitted,'has-success': !addCategoryForm.categoryDescription.$error.required && submitted}">
								<label class="control-label" for="categoryDescription">Description:</label>
								<textarea type="text" id="categoryescription" name="categoryDescription" ng-model="category.categoryDescription" class="form-control"></textarea>
								<p ng-show="addCategoryForm.categoryDescription.$error.required  && submitted" class="help-block">The Description is required.</p>
							</div>


							<div class="box-footer">
								<button type="submit" class="btn btn-small btn-primary">Submit</button>
								<a ng-click="cancel()" class="btn btn-small">Cancel</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
