<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul maq-side-navigation class="nav metismenu" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element">
					<img src="assets/images/avatar.png" class="img-circle" alt="User Image" style="width:25%;" />
					<a class="dropdown-toggle" data-toggle="dropdown">
						<span class="clear">
							<span class="block m-t-xs">
								<strong class="font-bold">{{ getCurrentUser().firstName + getCurrentUser().companyName}}</strong>
							</span>
							<span class="text-xs block">{{ getCurrentUser().role }} <b class="caret"></b></span>
						</span>
					</a>
					<ul class="dropdown-menu animated fadeInRight m-t-xs">
						<li><a href="/settings">Profile Settings</a></li>
						<li><a href="#" ng-show="isAdmin()" ng-click="restoreDB()" ng-confirm-click="Are you sure you want to restore the database?">Restore DB Backup</a></li>
						<li class="divider"></li>
						<li><a href="" ng-click="logout()">Sign out</a></li>
					</ul>
				</div>
				<div class="logo-element">
					BD+
				</div>
			</li>

			<li class="treeview" ng-show="isAdmin()" maq-treeview-toggle>
				<a href="/admin" maq-sidebar-menu>
					<i class="fa fa-user"></i>
					<span>Admin</span>
					<span class="fa fa-angle-left pull-right"></span>
				</a>
				<ul class="nav nav-second-level">
					<li><a href="/dashboard">Dashboard</a></li>
					<li><a href="/users">Users</a></li>
					<li><a href="/admin/add">Add User</a></li>
				</ul>
			</li>

			<!--<li class="treeview" ng-show="isAdmin()" maq-treeview-toggle>
				<a href="/admin" maq-sidebar-menu>
					<i class="fa fa-user"></i>
					<span>Admin</span>
					<span class="fa fa-angle-left pull-right"></span>
				</a>
				<ul class="nav nav-second-level">
					<li><a href="/dashboard">Dashboard</a></li>

				</ul>
			</li>-->

			 <li class="treeview" ng-show="isAdmin()">
				<a href="/packages" maq-sidebar-menu>
					<i class="fa fa-gift"></i>
					<span>Category</span>
					<span class="fa fa-angle-left pull-right"></span>
				</a>
				<ul class="nav nav-second-level">
					<li><a href="/category">Category Dashboard</a></li>
				</ul>
			</li>
            <!--
			<li class="treeview" ng-show="isAdmin()">
				<a href="/packages" maq-sidebar-menu>
					<i class="fa fa-gift"></i>
					<span>Department</span>
					<span class="fa fa-angle-left pull-right"></span>
				</a>
				<ul class="nav nav-second-level">
					<li><a href="/department">Department Dashboard</a></li>
					<li><a href="/department/add">Add department</a></li>
				</ul>
			</li> -->
            <li class="treeview" ng-show="isAdmin()">
				<a href="/packages" maq-sidebar-menu>
					<i class="fa fa-gift"></i>
					<span>Department</span>
					<span class="fa fa-angle-left pull-right"></span>
				</a>
				<ul class="nav nav-second-level">
					<li><a href="/department">Department Dashboard</a></li>
					<li><a href="/department/add">Add department</a></li>
				</ul>
			</li>
            
            <li class="treeview" ng-show="isAdmin()">
				<a href="/packages" maq-sidebar-menu>
					<i class="fa fa-exclamation-circle"></i>
					<span>Priority</span>
					<span class="fa fa-angle-left pull-right"></span>
				</a>
				<ul class="nav nav-second-level">
					<li><a href="/priority">Priority Dashboard</a></li>
					<li><a href="/priority/add">Add Priority</a></li>
				</ul>
			</li>
            <li class="treeview" ng-show="isAdmin()">
				<a href="/packages" maq-sidebar-menu>
					<i class="fa fa-exclamation-circle"></i>
					<span>Request Type</span>
					<span class="fa fa-file-invoice pull-right"></span>
				</a>
				<ul class="nav nav-second-level">
					<li><a href="/requesttype">Request Type Dashboard</a></li>
					<li><a href="/requesttype/add">Add Requesttype</a></li>
				</ul>
			</li>


			<!--<li class="treeview" ng-show="isAdmin()">
				<a href="/packages" maq-sidebar-menu>
					<i class="fa fa-shopping-bag"></i>
					<span>ICT Store</span>
					<span class="fa fa-angle-left pull-right"></span>
				</a>
				<ul class="nav nav-second-level">
					<li><a href="/ictstore">ICT Store Dashboard</a></li>
					<li><a href="/ictstore/add">Add ICT Store</a></li>
				</ul>

			</li>

			<li class="treeview" ng-show="isAdmin()">
				<a href="/packages" maq-sidebar-menu>
					<i class="fa fa-desktop"></i>
					<span>ICT Asset</span>
					<span class="fa fa-angle-left pull-right"></span>
				</a>
				<ul class="nav nav-second-level">
					<li><a href="/ictasset">ICT Asset Dashboard</a></li>
					<li><a href="/ictasset/add">Add ICT Asset</a></li>
				</ul>

			</li>-->

			<!-- <li class="treeview" ng-show="isAdmin()">
				<a href="/bikes" maq-sidebar-menu>
					<i class="fa fa-motorcycle"></i>
					<span>Bikes</span>
					<span class="fa fa-angle-left pull-right"></span>
				</a>
				<ul class="nav nav-second-level">
					<li><a href="/bikes">Bikes Dashboard</a></li>
				</ul>
			</li> -->
			<li class="treeview" ng-show="isAdmin() || getCurrentUser().role == 'Customer' || getCurrentUser().role == 'Service Desk Senior Manager' || getCurrentUser().role == 'Service Desk Agent'">
				<a href="/visitors" maq-sidebar-menu>
					<i class="fa fa-id-card"></i>
					<span>Incident</span>
					<span class="fa fa-angle-left pull-right"></span>
				</a>
				<ul class="nav nav-second-level">
					<li><a href="/issues">Incident Dashboard</a></li>
                    <li><a href="/issues/add">Add Incident</a></li>
                    <li><a>Total Incidents: {{totalIssues}}</a></li>
				</ul>
			</li>


			<li class="treeview" ng-show="isAdmin() || getCurrentUser().role == 'Service Desk Senior Manager' || getCurrentUser().role == 'Service Desk Agent'">
				<a href="/visitors" maq-sidebar-menu>
					<i class="fa fa-motorcycle"></i>
					<span>Change Management</span>
				</a>
				<ul class="nav nav-second-level">
					<li><a href="/rfccalls">Change Management Dashboard</a></li>
                    <li><a href="/rfccalls/add">Add RFC Call</a></li>
                    <li><a>No of RFC Calls: {{$scope.totalrfccalls}}</a></li>
                    
				</ul>
			</li>
            
            
            <li class="treeview">
				<a href="/officeparks" maq-sidebar-menu>
					<i class="fa fa-motorcycle"></i>
					<span>Evaluation Outcome</span>
					<span class="fa fa-angle-left pull-right"></span>
				</a>
				<ul class="nav nav-second-level">
					<li><a href="/evaluation">Evaluation Outcome</a></li>
                    <li><a href="/evaluation/add">Add Evaluation</a></li>
				</ul>
			</li>
            <!--<p>No of Calls: {{count}}</p>-->
			<!--<li class="treeview" ng-show="isAdmin()">
				<a href="/officeparks" maq-sidebar-menu>
					<i class="fa fa-motorcycle"></i>
					<span>Office Parks</span>
					<span class="fa fa-angle-left pull-right"></span>
				</a>
				<ul class="nav nav-second-level">
					<li><a href="/officeparks">Office Parks Dashboard</a></li>
				</ul>
			</li>
			<li class="treeview" ng-show="isAdmin()">
				<a href="/companies" maq-sidebar-menu>
					<i class="fa fa-building"></i>
					<span>Companies</span>
					<span class="fa fa-angle-left pull-right"></span>
				</a>
				<ul class="nav nav-second-level">
					<li><a href="/companies">Companies Dashboard</a></li>
				</ul>
			</li>
			<li class="treeview" ng-show="isAdmin()">
				<a href="/riders" maq-sidebar-menu>
					<i class="fa fa-hand-rock-o"></i>
					<span>Riders</span>
					<span class="fa fa-angle-left pull-right"></span>
				</a>
				<ul class="nav nav-second-level">
					<li><a href="/riders">Riders Dashboard</a></li>
				</ul>
			</li>
			 <li class="treeview" ng-show="isAdmin()">
				<a href="/errands" maq-sidebar-menu>
					<i class="fa fa-calendar"></i>
					<span>Errands</span>
					<span class="fa fa-angle-left pull-right"></span>
				</a>
				<ul class="nav nav-second-level">
					<li><a href="/errands">Errands Dashboard</a></li>
					<li><a href="/errands/add">Add Errand</a></li>
					<li><a href="/errands/status">Errand Statuses</a></li>
					<li><a href="/errands/generate-runsheet">Generate Runsheet</a></li>
					<li><a href="/errands/attempted-delivery-reasons">Attempted Delivery Reasons</a></li>
					<li><a href="/errands/delivery-zones">Delivery Zones</a></li>
					<li><a href="/errands/payment-status">Payment Statuses</a></li>
					<li><a href="/errands/reports">Generate Errand Reports</a></li>
				</ul>
			</li> -->
            <li class="treeview" ng-show="isAdmin()">
            <a href="/visitors" maq-sidebar-menu>
            <i class="fa fa-id-card"></i>
            <span>Asset Management</span>
            <span class="fa fa-angle-left pull-right"></span>
            </a>
            <ul class="nav nav-second-level">
            <li><a href="/assestmanagement">Assets Dashboard</a></li>
                                <li><a href="/assestmanagement/add">Add Asset</a></li>
            </ul>
            </li>
            <li class="treeview" ng-show="isAdmin() || getCurrentUser().role == 'Service Desk Senior Manager'">
                <a href="/visitors" maq-sidebar-menu>
                    <i class="fa fa-id-card"></i>
                        <span>Reports</span>
                        <span class="fa fa-angle-left pull-right"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a href="/generalreport">General Report Dashboard</a></li>
                    <li><a href="/priorityreport">Priority Report</a></li>
                    <li><a href="/resolutionreport">Resolution Report</a></li>
                    <li><a href="/assetreport">Asset Report</a></li>
                </ul>
            </li>

		</ul>
	</div>
</nav>