<maq-inspinia-nav></maq-inspinia-nav>
<div id="page-wrapper" class="gray-bg">
    <maq-inspinia-top-nav></maq-inspinia-top-nav>

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Add Incident</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/issue">INCIDENTS</a>
                </li>
                <li class="active">
                    <strong>Add Incident</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeIn">
        <maq-socket-disconnected></maq-socket-disconnected>
        <maq-danger-alert></maq-danger-alert>
        <maq-info-alert></maq-info-alert>

        <div class="row">
            <div class="col-md-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                        <form name="addIssueForm" ng-submit="addIssue(issue,addIssueForm.$invalid)" role="form" novalidate>

                             <!--<div class="form-group" ng-class="{'has-error': addIssueForm.priority.$invalid && submitted,'has-success': !addIssueForm.priority.$invalid && submitted}">
                                <label>Priority:</label>
                                <ui-select id="priority" name="priority" ng-model="issue.priority" theme="bootstrap" required>
                                    <ui-select-match placeholder="Select a Priority">{{$select.selected.priorityName}}</ui-select-match>
                                    <ui-select-choices repeat="priority in priorities | filter: $select.search" value="{{priority._id}}">
                                        <div ng-bind-html="priority.priorityName | highlight: $select.search"></div>

                                        <small>
                                            Description: {{priority.priorityDescription}}
                      											SLA (Hours): {{priority.prioritySLA}}
                      								  </small>
                                    </ui-select-choices>
                                </ui-select>
                                <p ng-show="addIssueForm.priority.$invalid && submitted" class="help-block">The Priority is required.</p>
                            </div>-->

                            <div class="form-group" ng-class="{'has-error': addIssueForm.category.$invalid && submitted,'has-success': !addIssueForm.category.$invalid && submitted}">

                                <label>Category:</label>
                                <ui-select id="category" name="category" ng-model="issue.category" theme="bootstrap" required>
                                    <ui-select-match placeholder="Select a Category">{{$select.selected.categoryName}}</ui-select-match>
                                    <ui-select-choices repeat="category in categories | filter: $select.search" value="{{category._id}}">
                                        <div ng-bind-html="category.categoryName | highlight: $select.search"></div>

                                        <small>
                                            Description: {{category.categoryDescription}}
											</small>
                                    </ui-select-choices>
                                </ui-select>
                                <p ng-show="addIssueForm.category.$invalid && submitted" class="help-block">The Category is required.</p>
                            </div>
							<div class="form-group" ng-if="issue.category.categoryName == 'Hardware'" ng-class="{'has-error': addIssueForm.hardwareId.$invalid && submitted,'has-success': !addIssueForm.hardwareId.$invalid && submitted}">

                                <label>Hardware ID :</label>
                                <input id="hardwareID" name="hardwareID" type="text" ng-model="issue.hardwareID" class="form-control" required/>
                                <p ng-show="addIssueForm.hardwareID.$invalid && submitted" class="help-block">Hardware ID is required.</p>
                            </div>
                            
                            <div class="form-group" ng-if="issue.category.categoryName == 'Hardware'">
                                <a href="/assestmanagement/add" class="btn btn-block btn-success btn-md"> <i class="fa fa-plus"></i>
                                    Add New Asset
                                </a>
                            </div>

                            <div ng-if="getCurrentUser().role != 'Customer'" class="form-group" ng-class="{'has-error': addIssueForm.channel.$invalid && submitted,'has-success': !addIssueForm.channel.$invalid && submitted}">
                                <label>Channel:</label>
                                <ui-select id="channel" name="channel" ng-model="issue.channel" theme="bootstrap" required>
                                    <ui-select-match placeholder="Select a Channel">{{$select.selected.channelName}}</ui-select-match>
                                    <ui-select-choices repeat="channel in channels | filter: $select.search" value="{{channel._id}}">
                                        <div ng-bind-html="channel.channelName | highlight: $select.search"></div>

                                        <small>
                                            Description: {{channel.channelDescription}}
											</small>
                                    </ui-select-choices>
                                </ui-select>
                                <p ng-show="addIssueForm.channel.$invalid && submitted" class="help-block">The Channel is required.</p>
                            </div>

                            <div class="form-group" ng-class="{'has-error': addIssueForm.division.$invalid && submitted,'has-success': !addIssueForm.division.$invalid && submitted}">
                                <label>Division:</label>
                                <ui-select id="division" name="division" ng-model="issue.division" theme="bootstrap" required>
                                    <ui-select-match placeholder="Select a Division">{{$select.selected.divisionName}}</ui-select-match>
                                    <ui-select-choices repeat="division in divisions | filter: $select.search" value="{{division._id}}">
                                        <div ng-bind-html="division.divisionName | highlight: $select.search"></div>

                                        <small>
                                            Division: {{division.divisionName}}
											Description: {{division.divisionDescription}}
											</small>
                                    </ui-select-choices>
                                </ui-select>
                                <p ng-show="addIssueForm.division.$invalid && submitted" class="help-block">The Division is required.</p>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : addIssueForm.issueDescription.$invalid && submitted,'has-success': !addIssueForm.issueDescription.$invalid && submitted}">
                                <label class="control-label" for="issueDescription">Description:</label>
                                <textarea type="text" id="issueDescription" name="issueDescription" ng-model="issue.issueDescription" class="form-control" required></textarea>
                                <p ng-show="addIssueForm.issueDescription.$invalid && submitted" class="help-block">The Description is required.</p>
                            </div>

                            
                            <div ng-if="getCurrentUser().role != 'Customer'" class="form-group" ng-class="{'has-error': addIssueForm.reportedBy.$invalid && submitted,'has-success': !addIssueForm.reportedBy.$invalid && submitted}">
                                <label>Reported By :</label>
                                <ui-select id="reportedBy" name="reportedBy" ng-model="issue.reportedBy" theme="bootstrap" required>
                                    <ui-select-match placeholder="Select a Reporter">{{$select.selected.firstName}}</ui-select-match>
                                    <ui-select-choices repeat="user in users | filter: $select.search" value="{{user._id}}">
                                        <div ng-bind-html="user.firstName | highlight: $select.search"></div>

                                        <small>
                                            Name: {{user.firstName}}
											LastName: {{user.lastName}}
											email: {{user.email}}
											</small>
                                    </ui-select-choices>
                                </ui-select>
                                <p ng-show="addIssueForm.user.$invalid && submitted" class="help-block">Reporter is required.</p>
                            </div>

                            
                            <div ng-if="getCurrentUser().role == 'admin'">
                                <a href="/admin/add" class="btn btn-block btn-success btn-md"> <i class="fa fa-plus"></i>
                                    Add New User
                                </a>
                            </div>
                            
                            <!--<div ng-if="getCurrentUser().role != 'Customer'" class="form-group" ng-class="{'has-error': addIssueForm.reportedBy.$invalid && submitted,'has-success': !addIssueForm.reportedBy.$invalid && submitted}">
                                <label class="control-label" for="reportedBy">Reported By:</label>
                                <input id="reportedBy" name="reportedBy" type="text" ng-model="issue.reportedBy" class="form-control" required/>
                                <p ng-show="addIssueForm.reportedBy.$invalid && submitted" class="help-block">Field is required.</p>
                            </div>-->

                            <div class="form-group" ng-class="{'has-error': addIssueForm.contactNumber.$invalid && submitted,'has-success': !addIssueForm.contactNumber.$invalid && submitted}">
                                <label class="control-label" for="contactNumber">Contact Number:</label>
                                <input id="contactNumber" name="contactNumber" type="text" ng-model="issue.issueContactNumber" class="form-control" required/>
                                <p ng-show="addIssueForm.contactNumber.$invalid && submitted" class="help-block">Contact Number is required.</p>
                            </div>


                            <div class="box-footer">
                                <button type="submit" class="btn btn-small btn-primary">Submit</button>
                                <a ng-click="cancel()" class="btn btn-small">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</div>
