<maq-inspinia-nav></maq-inspinia-nav>
<div id="page-wrapper" class="gray-bg">
	<maq-inspinia-top-nav></maq-inspinia-top-nav>

	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-10">
			<h2>Edit Division</h2>
			<ol class="breadcrumb">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/division">Divisions</a>
				</li>
				<li class="active">
					<strong>Edit Division</strong>
				</li>
			</ol>
		</div>
	</div>

	<div class="wrapper wrapper-content animated fadeIn">
		<maq-socket-disconnected></maq-socket-disconnected>
		<maq-danger-alert></maq-danger-alert>
		<maq-info-alert></maq-info-alert>

		<div class="row">
			<div class="col-md-6">
				<div class="ibox">
					<div class="ibox-content">
						<form novalidate="novalidate" role="form" name="editDivisionForm" ng-submit="editDivision(division,editDivisionForm.$valid)">

							<div class="form-group" ng-class="{'has-error': editDivisionForm.divisionName.$invalid && submitted}">
								<label>Name:</label>
								<input class="form-control" type="text" ng-model="division.divisionName" name="divisionName" id="deliverydivisionArea" required/>
								<p ng-show="editDivisionForm.divisionName.$invalid && submitted" class="help-block">The Name is required.</p>
							</div>

							<div class="form-group" ng-class="{'has-error': editDivisionForm.divisionAddress.$invalid && submitted}">
								<label>Address:</label>
								<input class="form-control" type="text" ng-model="division.divisionAddress" name="divisionAddress" id="divisionAddress" required/>
								<p ng-show="editDivisionForm.divisionAddress.$invalid && submitted" class="help-block">The Address is required.</p>
							</div>

							<div class="form-group" ng-class="{'has-error': editDivisionForm.divisionContact.$invalid && submitted}">
								<label>Contact:</label>
								<input class="form-control" type="text" ng-model="division.divisionContact" name="divisionContact" id="divisionContact" required/>
								<p ng-show="editDivisionForm.divisionContact.$invalid && submitted" class="help-block">The Contact is required.</p>
							</div>

							<div class="box-footer">
								<button type="submit" class="btn btn-small btn-primary">Save</button>
								<a ng-click="cancel()" class="btn btn-small">Cancel</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
