<maq-inspinia-nav></maq-inspinia-nav>
<div id="page-wrapper" class="gray-bg">
    <maq-inspinia-top-nav></maq-inspinia-top-nav>

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Log RFC Call</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/rfccall">RFC Calls</a>
                </li>
                <li class="active">
                    <strong>Log RFC Call</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeIn">
        <maq-socket-disconnected></maq-socket-disconnected>
        <maq-danger-alert></maq-danger-alert>
        <maq-info-alert></maq-info-alert>

        <div class="row">
            <div class="col-md-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                        <form name="addRfccallForm" ng-submit="addRfccall(rfccall,addRfccallForm.$invalid)" role="form" novalidate>

                            <div class="form-group" ng-class="{'has-error': addRfccallForm.callRefNumber.$invalid && submitted,'has-success': !addRfccallForm.callRefNumber.$invalid && submitted}">
                                <label class="control-label" for="callRefNumber">RefNumber:</label>
                                <input id="callRefNumber" name="callRefNumber" type="text" ng-model="rfccall.callRefNumber" class="form-control" required/>
                                <p ng-show="addRfccallForm.callRefNumber.$invalid && submitted" class="help-block">The Call Ref Number is required.</p>
                            </div>

                            <div class="form-group" ng-class="{'has-error': addRfccallForm.callDescription.$invalid && submitted,'has-success': !addRfccallForm.callDescription.$invalid && submitted}">
                                <label class="control-label" for="callDescription">Description:</label>
                                 <input id="callDescription" name="callDescription" type="text" ng-model="rfccall.callDescription" required class="form-control"/>

                                <p ng-show="addRfccallForm.callDescription.$invalid && submitted" class="help-block">The Call Description is required.</p>
                            </div>

                            <div class="form-group" ng-class="{'has-error': addRfccallForm.priorities.$invalid && submitted,'has-success': !addRfccallForm.priorities.$invalid && submitted}">
                                
                                <label>Priority:</label>
                                <ui-select id="priorities" name="priorities" ng-model="rfccall.priority" theme="bootstrap" required>
                                    <ui-select-match placeholder="Select a Priority">{{$select.selected.priorityName}}</ui-select-match>
                                    <ui-select-choices repeat="priority in priorities | filter: $select.search" value="{{priority._id}}">
                                        <div ng-bind-html="priority.priorityName | highlight: $select.search"></div>

                                        <small>
                                            Description: {{priority.priorityDescription}}
                      											SLA (Hours): {{priority.prioritySLA}}
                      								  </small>
                                    </ui-select-choices>
                                </ui-select>
                                
                                
                                <p ng-show="addRfccallForm.priorities.$invalid && submitted" class="help-block"> Priority is required.</p>
                            </div>

                            <div class="form-group" ng-class="{'has-error': addRfccallForm.changeRequestType.$invalid && submitted,'has-success': !addRfccallForm.requesttype.$invalid && submitted}">

                                <label>Request Type:</label>
                                <ui-select id="requesttype" name="requesttype" ng-model="rfccall.requesttype" theme="bootstrap" required>
                                    <ui-select-match placeholder="Select a Request Type">{{$select.selected.requesttypeName}}</ui-select-match>
                                    <ui-select-choices repeat="requesttype in requesttypes | filter: $select.search" value="{{requesttype._id}}">
                                        <div ng-bind-html="requesttype.requesttypeName | highlight: $select.search"></div>

                                        <small>
                                            Description: {{requesttype.requesttypeDescription}}
											</small>
                                    </ui-select-choices>
                                </ui-select>
                                
                                
                                <div class="form-group" ng-class="{'has-error': addUserForm.departments.$invalid && submitted,'has-success': !addUserForm.departments.$invalid && submitted}">
                                
                                <label>Department Name:</label>
                                <ui-select id="department" name="department" ng-model="rfccall.department" theme="bootstrap" required>
                                    <ui-select-match placeholder="Select a Department">{{$select.selected.departmentName}}</ui-select-match>
                                    <ui-select-choices repeat="department in departments | filter: $select.search" value="{{department._id}}">
                                        <div ng-bind-html="department.departmentName | highlight: $select.search"></div>

                                        <small>
                                            Department Description: {{department.departmentDescription}}
											</small>
                                    </ui-select-choices>
                                </ui-select>
                                
                                
                                <p ng-show="addRfccallForm.users.$invalid && submitted" class="help-block"> Select a Departmentp>
                            </div>


                                <p ng-show="addRfccallForm.requesttype.$invalid && submitted" class="help-block">The Request Type is required.</p>
                            </div>

                            <div class="form-group" ng-class="{'has-error': addRfccallForm.evaluationoutcome.$invalid && submitted,'has-success': !addRfccallForm.evaluationoutcome.$invalid && submitted}">

                                <label>Call Evaluation Outcome:</label>
                                <ui-select id="evaluationoutcome" name="evaluationoutcome" ng-model="rfccall.evaluationoutcome" theme="bootstrap" required>
                                    <ui-select-match placeholder="Select a evaluationoutcome">{{$select.selected.evaluationoutcomeName}}</ui-select-match>
                                    <ui-select-choices repeat="evaluationoutcome in evaluationoutcomes | filter: $select.search" value="{{evaluationoutcome._id}}">
                                        <div ng-bind-html="evaluationoutcome.evaluationoutcomeName | highlight: $select.search"></div>

                                        <small>
                                            Description: {{evaluationoutcome.evaluationoutcomeDescription}}
											</small>
                                    </ui-select-choices>
                                </ui-select>

                                <p ng-show="addRfccallForm.callEvaluationOutcome.$invalid && submitted" class="help-block">The call Evaluation Outcome is required.</p>
                            </div>

                            <div class="form-group" ng-class="{'has-error': addRfccallForm.actionPlan.$invalid && submitted,'has-success': !addRfccallForm.actionPlan.$invalid && submitted}">
                                <label class="control-label" for="actionPlan">Action Plan:</label>
                                 <input id="actionPlan" name="actionPlan" type="text" ng-model="rfccall.actionPlan" required class="form-control"/>

                                <p ng-show="addRfccallForm.actionPlan.$invalid && submitted" class="help-block">The action plan is required.</p>
                            </div>

                            <div class="form-group" ng-class="{'has-error': addRfccallForm.implementationOutcome.$invalid && submitted,'has-success': !addRfccallForm.implementationOutcome.$invalid && submitted}">
                                <label class="control-label" for="implementationOutcome">Implementation Outcome:</label>
                                 <input id="implementationOutcome" name="implementationOutcome" type="text" ng-model="rfccall.implementationOutcome" required class="form-control"/>

                                <p ng-show="addRfccallForm.implementationOutcome.$invalid && submitted" class="help-block">The implementation outcome is required.</p>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-small btn-primary">Submit</button>
                                <a ng-click="cancel()" class="btn btn-small">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</div>
