<maq-inspinia-nav></maq-inspinia-nav>
<div id="page-wrapper" class="gray-bg">
	<maq-inspinia-top-nav></maq-inspinia-top-nav>

	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-10">
			<h2>Add ICT Store</h2>
			<ol class="breadcrumb">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/packages">ICT Stores</a>
				</li>
				<li class="active">
					<strong>Add ICTUser</strong>
				</li>
			</ol>
		</div>
	</div>
	<div class="wrapper wrapper-content animated fadeIn">
		<maq-socket-disconnected></maq-socket-disconnected>
		<maq-danger-alert></maq-danger-alert>
		<maq-info-alert></maq-info-alert>


		<div class="row">
			<div class="col-md-6">
				<div class="ibox">
					<div class="ibox-content">
						<form novalidate="novalidate" name="addICTStoreForm" ng-submit="addICTStore(ictstore,addICTStoreForm.$valid)" role="form">


							<div class="form-group" ng-class="{'has-error': ICTStore.controlNumber.$invalid && submitted,'has-success': !ICTStore.controlNumber.$invalid && submitted}">
								<label class="control-label" for="controlNumber">Control Number:</label>
								<input id="controlNumber" name="controlNumber" type="text" ng-model="ictstore.controlNumber" required class="form-control"/>
								<p ng-show="addICTStoreForm.controlNumber.$invalid && submitted" class="help-block">The Controle Number is required</p>
							</div>

							<div class="form-group" ng-class="{'has-error': addICTStoreForm.nameSurname.$error.required && submitted,'has-success': !addICTStoreForm.nameSurname.$error.required && submitted}">
								<label class="control-label" for="nameSurname">Name Surname:</label>
								<textarea type="text" id="nameSurname" name="nameSurname" ng-model="ictstore.nameSurname" class="form-control"></textarea>
								<p ng-show="addICTStoreForm.nameSurname.$error.required  && submitted" class="help-block">The Name Surname is required.</p>
							</div>
							<div class="form-group" ng-class="{'has-error': addICTStoreForm.location.$error.required && submitted,'has-success': !addICTStoreForm.location.$error.required && submitted}">
								<label class="control-label" for="location">Location:</label>
								<textarea type="text" id="location" name="location" ng-model="ictstore.location" class="form-control"></textarea>
								<p ng-show="addICTStoreForm.location.$error.required  && submitted" class="help-block">The Location is required.</p>
							</div>

							<div class="form-group" ng-class="{'has-error': addICTStoreForm.costCenter.$error.required && submitted,'has-success': !addICTStoreForm.costCenter.$error.required && submitted}">
								<label class="control-label" for="costCenter">Cost Center:</label>
								<!--<textarea type="text" id="costCenter" name="costCenter" ng-model="ictstore.costCenter" class="form-control"></textarea>-->
								      								                               
                         <ui-select id="costCenter" name="costCenter" ng-model="ictstore.costCenter" theme="bootstrap" required>
                                    <ui-select-match placeholder="Select  Cost Center ">{{$select.selected.costcenterName}}</ui-select-match>
                                    <ui-select-choices repeat="costcenter in costcenters | filter: $select.search" value="{{costcenter._id}}">
                                        <div ng-bind-html="costcenter.costcenterName | highlight: $select.search"></div>

                                        <small>
                                            Description: {{costcenter.costcenterDescription}}
											</small>
                                    </ui-select-choices>
                                </ui-select>

								<p ng-show="addICTStoreForm.costCenter.$error.required  && submitted" class="help-block">The Cost Center is required.</p>
							</div>
							
							 <div class="form-group" ng-class="{'has-error': addICTStoreForm.priority.$invalid && submitted,'has-success': !addICTStoreForm.priority.$invalid && submitted}">
                                <label>Priority:</label>
                                <ui-select id="priority" name="priority" ng-model="ictstore.priority" theme="bootstrap" required>
                                    <ui-select-match placeholder="Select a Priority">{{$select.selected.priorityName}}</ui-select-match>
                                    <ui-select-choices repeat="priority in priorities | filter: $select.search" value="{{priority._id}}">
                                        <div ng-bind-html="priority.priorityName | highlight: $select.search"></div>

                                        <small>
                                            Description: {{priority.priorityDescription}}
                      											SLA (Hours): {{priority.prioritySLA}}
                      								  </small>
                                    </ui-select-choices>
                                </ui-select>
                                <p ng-show="addICTStoreForm.priority.$invalid && submitted" class="help-block">The Priority is required.</p>
                            </div>

							<div class="form-group" ng-class="{'has-error': addICTStoreForm.reasonForUse.$error.required && submitted,'has-success': !addICTStoreForm.reasonForUse.$error.required && submitted}">
								<label class="control-label" for="reasonForUse">Reason for Use:</label>
								<textarea type="text" id="reasonForUse" name="reasonForUse" ng-model="ictstore.reasonForUse" class="form-control"></textarea>
								<p ng-show="addICTStoreForm.reasonForUse.$error.required  && submitted" class="help-block">The Reason for Use is required.</p>
							</div>

							<div class="form-group" ng-class="{'has-error': addICTStoreForm.owningCompany.$error.required && submitted,'has-success': !addICTStoreForm.owningCompany.$error.required && submitted}">
								<label class="control-label" for="owningCompany">Owning Company:</label>
								<textarea type="text" id="owningCompany" name="owningCompany" ng-model="ictstore.owningCompany" class="form-control"></textarea>
								<p ng-show="addICTStoreForm.owningCompany.$error.required  && submitted" class="help-block">The Owning Company is required.</p>
							</div>

							<div class="box-footer">
								<button type="submit" class="btn btn-small btn-primary">Submit</button>
								<a ng-click="cancel()" class="btn btn-small">Cancel</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
