<div>
	<div class="modal-header">
		<h3 class="modal-title">ICT Store Details</h3>
	</div>
	<div class="modal-body">
		<ul>
			<li>Control Number: {{ictstore.controlNumber}}</li>
			<li>Name Surname: {{ictstore.nameSurname}}</li>
			<li>Location: {{ictstore.location}}</li>
			<li>Cost Center: {{ictstore.costCenter.costcenterName}}</li>
			<li>Priority: {{ictstore.priority.assetPriority}}</li>
            <li>Reason for Use: {{ictstore.reasonForUse}}</li>
			<li>Owning Company: {{ictstore.owningCompany}}</li>

			<li>Added: {{ictstore.added | date:'medium'}}</li>

		</ul>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</div>
